/* CSS for collapsing panel */
#sequence-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    padding: 10px;
    max-width: 300px;
    backdrop-filter: blur(10px); /* Blurry background effect */
    transition: all 0.5s ease;
    z-index: 999; /* Ensure the panel stays on top */
}

#sequence-panel.card {
    background-color: rgba(248, 249, 250, 0.8); /* Light gray with transparency */
    border: 1px solid rgba(222, 226, 230, 0.5); /* Semi-transparent gray */
    border-radius: 10px;
}

#sequence-panel.collapsed {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

#toggle-button {
    cursor: pointer;
    font-size: 20px;
    float: right;
}

#sequence-panel-content {
    overflow: hidden;
    max-height: 200px;
    transition: max-height 0.5s ease;
}

#sequence-panel.collapsed #sequence-panel-content {
    max-height: 0;
}

#sequence-panel.collapsed #toggle-button {
    display: none;
}

#sequence-panel:hover {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

#sequence-panel:hover #sequence-panel-content {
    max-height: 200px; /* Adjust as needed */
}

#image-container {
    border: 1px solid rgba(222, 226, 230, 0.5); /* Semi-transparent gray */
    margin-left: 350px; /* Adjust to make space for the panel */
    margin-top: 20px; /* Adjust to make space for the panel */
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

#image-container:hover {
    filter: blur(10px); /* Blurry background effect */
}

/* Monospace font for sequence input */
#sequence {
    font-family: 'Courier New', Courier, monospace;
}
