<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>katoste server</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"
        integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA=="
        crossorigin=""></script>
    <script src='https://unpkg.com/leaflet.tilelayer.gl@latest/src/Leaflet.TileLayer.GL'></script>


    <link rel="stylesheet" type="text/css" href="site.css">

     <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div id="mapcontainer"></div>
    <div id="" class="">
        <div id="omnibox-container" class="id-omnibox-container">
            <div id="omnibox" class="id-omnibox vasquette-margin-enabled.id-rap-card">
                <div id="search" class="searchbox searchbox-position nhb85d xoLGzf Hk4XGb sbox-focus OAaR7b searchbox-empty expanded">
                    <form id="sequence-select" method="post" enctype="multipart/form-data" data-toggle="tooltip" data-placement="botton" title="<b>Example usage</b>:<br/><br/>'gene:GENEID' for genes<br/>'ensembl:ENSG123456' for ensembl queries<br/>'>seq<br/>ATTGGTCA'<br/>for fasta queries<br/>'ATTCGAT' for gene queries" >
                        <div class="searchboxlabeldiv"> 
                            <label for="selectsequence" class="searchboxlabel fontBodyMedium">Search Katoste</label>
                        </div>
                        <textarea name="selectsequence" id="selectsequence" class="searchboxinput" form="sequence-select" aria-label="Search Katoste" spellcheck="false"></textarea>
                        <div id="highlightedText" class='searchboxinput' aria-hidden="true"></div>
                        <div jstcache="34" class="pzfvzf"> 
                            <button type="submit" aria-label="Search" id="btn-submit" class="searchbutton mL3xi" data-toggle="tooltip" data-placement="botton" title="Search">
                                <span aria-hidden="true" class="google-symbols"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="omnibox-container" class="id-omnibox-container">
            <div id="buttonbox-container" class="buttonbox nhb85d xoLGzf Hk4XGb sbox-focus OAaR7b expanded">
                <div class="dryRY ">
                    <div class="KNfEk Rqu0ae ">
                        <button class="e2moi " aria-label="general">
                            <div id="settingsButton" class="tXNTee L6Bbsd T7HQDc ">
                                <div class="OyjIsf"></div>
                                <span class="k48Abe google-symbols" aria-hidden="true">&#xe429;</span>
                                <span class="uEubGf fontTitleSmall">Settings</span>
                            </div>
                        </button>
                    </div>
                    <div class="KNfEk Rqu0ae ">
                        <button class="e2moi " aria-label="query">
                            <div id="queryButton" class="tXNTee L6Bbsd T7HQDc ">
                                <div class="OyjIsf"></div>
                                <span class="k48Abe google-symbols NhBTye G47vBd" aria-hidden="true">&#xe4fc;</span>
                                <span class="uEubGf fontTitleSmall">Query</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        


        <div id="control-container" class="id-omnibox-container">
            <div id="omnibox" class="id-omnibox vasquette-margin-enabled.id-rap-card">
                <div id="infobox-control-container" class="infobox nhb85d xoLGzf Hk4XGb sbox-focus OAaR7b expanded">
                    <div class="u6EGFf">
                        <div class="VOhV7b">
                            <h1 class="MMkI0b"><b style='color:rgb(134, 0, 134) !important;'><b style='color:rgb(0, 107, 107) !important;'>Total counts</b></b></h1>
                        </div>
                    </div>
                    <hr/>
                    <label class='slider-label' for="total_counts_range">Brightness limits</label>
                    <div id="total_counts_range_slider" class="range-slider-custom"></div>
                </div>
            </div>
        </div>
        <div id="card-container" class="id-omnibox-container">
            <div id="omnibox" class="id-omnibox vasquette-margin-enabled.id-rap-card">
                <div id="infobox-control-container" class="infobox nhb85d xoLGzf Hk4XGb sbox-focus OAaR7b expanded">
                    <div class="u6EGFf">
                        <div class="VOhV7b">
                            <h1 class="MMkI0b"><b style='color:rgb(134, 0, 134) !important;'>Query</b></h1>
                        </div>
                    </div>
                    <hr/>
                    <label class='slider-label' for="query_range">Brightness limits</label>
                    <div id="query_range_slider" class="range-slider-custom"></div>
                    <div class="u6EGFf">
                        <div class="VOhV7b">
                            <h1 class="MMkI0b">Query details</h1>
                        </div>
                    </div>
                    <div class="u6EGFf">
                        <div class="VOhV7b">
                            <h1 class="MMkI0b">Sequence occurrence</h1>
                        </div>
                        <textarea id="inputText" spellcheck="false" class='searchboxinput' placeholder="Type your text here..."></textarea>
                        <div id="heatmapText" class='searchboxinput' aria-hidden="true"></div>
                    </div>
                    <div class="dryRY ufjIR">
                        <div class="KNfEk Rqu0ae ">
                            <button class="e2moi " aria-label="query">
                                <div class="tXNTee L6Bbsd T7HQDc ">
                                    <div class="OyjIsf"></div>
                                    <span class="k48Abe google-symbols NhBTye G47vBd" aria-hidden="true">&#xe161;</span>
                                    <span class="uEubGf fontTitleSmall">Save</span>
                                </div>
                            </button>
                        </div>
                        <div class="KNfEk Rqu0ae ">
                            <button class="e2moi " aria-label="query">
                                <div class="tXNTee L6Bbsd T7HQDc ">
                                    <div class="OyjIsf"></div>
                                    <span class="k48Abe google-symbols NhBTye G47vBd" aria-hidden="true">&#xe872;</span>
                                    <span class="uEubGf fontTitleSmall">Remove</span>
                                </div>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script>
        var fragmentShader = `
        vec3 grays2rgb(vec3 c) {
            vec3 rgb1 = vec3(0.0, c.x, c.x);
            vec3 rgb2 = vec3(c.y, 0.0, c.y);
            vec3 rgb3 = vec3(c.z, c.z, 0.0);

            vec3 finalColor = vec3(
                max(rgb1.r, max(rgb2.r, rgb3.r)),
                max(rgb1.g, max(rgb2.g, rgb3.g)),
                max(rgb1.b, max(rgb2.b, rgb3.b))
            );
            
            return finalColor;
        }
        
        void main(void) {                                                                       
            vec4 texelColour = texture2D(uTexture0, vec2(vTextureCoords.s, vTextureCoords.t));
            texelColour.r = (texelColour.r - min_total_count_range) / (max_total_count_range - min_total_count_range);
            texelColour.g = (texelColour.g - min_query_range) / (max_query_range - min_query_range);
            vec3 im = clamp(texelColour.rgb, 0.0, 1.0);
            gl_FragColor = vec4(grays2rgb(im), texelColour.a);                                   
        }                                 
        `;

        var map = new L.map('mapcontainer', {
            crs: L.CRS.Simple,
            center: [0, 0],
            minZoom: 0,
            zoom: 1,
            zoomSnap: 0,
            maxBoundsViscosity: 0.5,
            zoomControl: false
        })

        map.attributionControl.setPrefix("Katoste ")

        L.control.zoom({
            position: 'bottomright'
        }).addTo(map);

        var mapdata = L.tileLayer.gl({
            uniforms: {
                min_total_count_range: Number(0.0),
                min_query_range: Number(0.0),
                max_total_count_range: Number(1.0),
                max_query_range: Number(1.0)
            },
            fragmentShader: fragmentShader,
            maxZoom: 7,
            minZoom: -1,
            opacity: 0.75,
            noWrap: true,
            attribution: '&copy 2024 Rajewsky Lab',
            tileUrls: ['/tiles/{z}/{x}/{y}.png'],
            zIndex: -1
        });

        var mapdata_added = mapdata.addTo(map);

        $( function() {
            $( "#total_counts_range_slider" ).slider({
            range: true,
            min: 0,
            max: 1000,
            values: [ 0, 1000 ],
            slide: function( event, ui ) {
                mapdata.setUniform('min_total_count_range', ui.values[0]/1000);
                mapdata.setUniform('max_total_count_range', ui.values[1]/1000);
                mapdata.reRender();
            }
            });
            $( "#total_counts_range_slider" ).slider().find('div').css({"background": "rgb(0, 107, 107)"})
        } );

        $( function() {
            $( "#query_range_slider" ).slider({
            range: true,
            min: 0,
            max: 1000,
            values: [ 0, 1000 ],
            slide: function( event, ui ) {
                mapdata.setUniform('min_query_range', ui.values[0]/1000);
                mapdata.setUniform('max_query_range', ui.values[1]/1000);
                mapdata.reRender();
            }
            });
            $( "#query_range_slider" ).slider().find('div').css({"background": "rgb(134, 0, 134)"})
        } );

        L.control.scale().addTo(map);

        var bsAlert = function(message) {
        if ($("#bs-alert").length == 0) {
            $('body').append('<div class="modal tabindex="-1" id="bs-alert">'+
                '<div class="modal-dialog">'+
                    '<div class="modal-content">'+
                    '<div class="modal-header">'+
                        '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'+
                        '<h4 class="modal-title">Alert</h4>'+
                    '</div>'+
                    '<div class="modal-body">'+
                        message+
                    '</div>'+
                    '<div class="modal-footer">'+
                        '<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>'+
                    '</div>'+
                    '</div>'+
                '</div>'+
                '</div>')
            } else {
                $("#bs-alert .modal-body").text(message);
            }    
            $("#bs-alert").modal();
        }
    
        $(document).ready(function() {
            $('#btn-submit').click(function (event) {
            $('#btn-submit').prop("disabled", true);
            $('#modal-loading').modal('show');
            $.ajax({
                    data : { selectsequence : $('#selectsequence').val() }, //grab text between span tags
                    type : 'POST',
                    url : "{{ url_for('map.index') }}", //post grabbed text to flask endpoint for saving role
                    success: function (data) {
                        mapdata.initialize()
                        mapdata.redraw()
                        map.invalidateSize()
                        mapdata.redraw()
                        $('#btn-submit').prop("disabled", false);
                        $('#modal-loading').modal('hide');
                    },
                    error: function (e) { 
                        console.log('Submission failed...');
                        $('#modal-loading').modal('hide'); // TODO: complain
                        $('#btn-submit').prop("disabled", false);
                        bsAlert('test')
                    }
            });
        });
        })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            })
        })

        // Get the input element
        var textArea = document.getElementById("selectsequence");
        var textAreaHighlight = document.getElementById("highlightedText");
        var searchArea = document.getElementById("sequence-select");
        
        $(document).on('input', '#selectsequence', function(){
            if ($("#selectsequence").val()) {
                $('.searchboxlabel').hide();
            } else {
                $('.searchboxlabel').show();
            }
            if (textArea.scrollHeight > 1 && textArea.scrollHeight <= 480) {
                textArea.style.height = 'auto';
                textAreaHighlight.style.height = 'auto';
                textArea.style.height = textArea.scrollHeight + "px";
                textAreaHighlight.style.height = textArea.scrollHeight + "px";
                textAreaHighlight.style.top = -textArea.scrollHeight + "px";
                searchArea.style.height = textArea.scrollHeight + "px";
            } else if (textArea.scrollHeight > 480) {
                textArea.style.height = '480px';
                textAreaHighlight.style.height = '480px';
                textAreaHighlight.style.top = '-480px';
            } else {
                textArea.style.height = '24px';
                textAreaHighlight.style.height = '24px';
                searchArea.style.height = '24px';
                textAreaHighlight.style.top = '-24px';
            }
            console.log(textArea.scrollHeight);
        });
        
        // syntax highlighting
        document.addEventListener('DOMContentLoaded', () => {
            const textarea = document.getElementById('selectsequence');
            const highlightedText = document.getElementById('highlightedText');

            textarea.addEventListener('input', () => {
                const text = textarea.value;
                highlightedText.innerHTML = applySyntaxHighlighting(text);
            });

            textarea.addEventListener('scroll', () => {
                highlightedText.scrollTop = textarea.scrollTop;
                highlightedText.scrollLeft = textarea.scrollLeft;
            });

            function applySyntaxHighlighting(text) {
                const keywordPatterns = {
                    'gene:': 'keyword-gene',
                    'species:': 'keyword-species',
                    'split:': 'keyword-split'
                };

                let highlighted = text.replace(/(gene:|species:|split:|ensembl:)([^;]*)/g, (match, p1, p2) => {
                    const keywordClass = keywordPatterns[p1];
                    const argumentClass = 'argument';
                    return `<span class="${keywordClass}">${p1}</span><span class="${argumentClass}">${p2}</span>`;
                });

                return highlighted.replace(/\n/g, '<br>');
            }

            // To display and hide the cards
            const settingsButton = document.getElementById('settingsButton');
            const queryButton = document.getElementById('queryButton');
            const controlContainer = document.getElementById('control-container');
            const queryContainer = document.getElementById('card-container');

            function toggleControlContainer(button) {
                if (controlContainer.classList.contains('visible')) {
                    controlContainer.classList.remove('visible');
                    settingsButton.classList.remove('active');
                } else {
                    controlContainer.classList.add('visible');
                    settingsButton.classList.add('active');
                }
            }

            function toggleQueryContainer(button) {
                if (queryContainer.classList.contains('visible')) {
                    queryContainer.classList.remove('visible');
                    queryButton.classList.remove('active');
                } else {
                    queryContainer.classList.add('visible');
                    queryButton.classList.add('active');
                }
            }

            // Add event listeners to buttons
            settingsButton.addEventListener('click', toggleControlContainer);
            queryButton.addEventListener('click', toggleQueryContainer);
        });

        document.addEventListener('DOMContentLoaded', () => {
            const textarea = document.getElementById('inputText');
            const heatmapText = document.getElementById('heatmapText');

            textarea.addEventListener('input', () => {
                const text = textarea.value;
                const scores = getScoresForText(text); // This function generates or fetches scores for the text
                heatmapText.innerHTML = applyHeatmapHighlighting(text, scores);
            });

            textarea.addEventListener('scroll', () => {
                heatmapText.scrollTop = textarea.scrollTop;
                heatmapText.scrollLeft = textarea.scrollLeft;
            });

            function getScoresForText(text) {
                // Example: Generate random scores for each character in the text
                return Array.from(text).map(() => Math.random());
            }

            function applyHeatmapHighlighting(text, scores) {
                return text.split('').map((char, index) => {
                    const score = scores[index];
                    const color = getColorForScore(score);
                    return `<span style="background-color: ${color}">${char}</span>`;
                }).join('').replace(/\n/g, '<br>');
            }

            function getColorForScore(score) {
                // Convert the score (0 to 1) to a color from white to light red
                const r = Math.round(255 * score);
                const g = Math.round(255 * (1 - score));
                const b = g; // Make the color white to red by adjusting green and blue channels
                return `rgb(${r}, ${g}, ${b})`;
            }
        });

    </script>

    <div class="modal" id="modal-loading" data-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                <div class="loading-spinner mb-2"></div>
                <div>Loading</div>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>